html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .5px;
    background: #00051f;
    font-family: 'Alata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    color: #fff;
    margin-bottom: 15px;
    word-wrap: break-word;
    font-family: 'Alata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 40px;
    line-height: 50px;
}

h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Oxygen', sans-serif;
}

a {
    cursor: pointer;
    font-size: 15px;
    line-height: 21px;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
}

span {
    display: inline-block;
}

img {
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

ul li a {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

div {
    margin: 0;
    padding: 0;
}

figure {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

figure:hover img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

section {
    z-index: 1;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}

input,
textarea {
    background: rgba(0, 0, 0, .5);
    padding: 5px 7px;
    width: 100%;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.di {
    display: inline-block;
}

.fa-phone {
    transform: rotate(40deg);
}

.font {
    font-family: 'Oxygen', sans-serif;
}

.color {
    color: #f82f41;
}

.rel {
    position: relative;
}

.container,
.z-index {
    position: relative;
    z-index: 2;
}


/*-- Button, Anchor --*/

.link {
    color: #fff;
    font-size: 12px;
    padding: 15px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to right, #0f33f7, #dc40f8);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-family: 'Oxygen', sans-serif;
}

.link:hover {
    background-image: linear-gradient(to right, #dc40f8, #0f33f7);
    color: #fff;
}

.hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


/*-----------------------------------------
------------- ( Animination )
-----------------------------------------*/

.rotate,
.operation .box:hover .image:after,
.advisors .box:hover .image:after {
    animation-name: rotateme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@keyframes rotateme {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotateme {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes rotateme {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@-webkit-keyframes float-bob {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
}

.top-bottom,
.advisors:after {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear
}

@keyframes float-bob {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
}

.float-bob-big {
    animation-name: float-bob-big;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob-big;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob-big;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob-big;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob-big;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear
}

@keyframes float-bob-big {
    0% {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px)
    }
    50% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    100% {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px)
    }
}

.ovrfire {
    overflow: hidden;
}

.ovrfire img {
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

.zoom {
    animation: zoom 5s infinite;
}

@keyframes zoom {
    from {
        transform: scale(.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}


/*-----------------------------------------
------------- ( Header )
-----------------------------------------*/

header {
    position: relative;
    z-index: 9;
}

header .menu {
    padding: 15px 0;
}

header .menu .navbar {
    padding: 0;
}

header .menu .navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}

header .menu .navbar-brand img {
    width: auto;
    height: 65px;
}

header .menu .navbar-brand h2 {
    font-weight: 800;
    margin-bottom: 0;
    font-size: 25px;
    color: #494949;
}

header .menu .navbar-collapse {}

header .menu ul {}

header .menu ul li {}

header .menu .nav-link {
    padding: 0 21px !important;
    text-transform: uppercase;
    line-height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}

header .menu .nav-link:hover {
    color: #dc40f8;
}

header .btn {
    margin-left: 20px;
    background-image: linear-gradient(to right, #0f33f7, #dc40f8);
}

header .btn:hover {
    background-image: linear-gradient(to right, #dc40f8, #0f33f7);
    color: #fff !important;
}


/*-----------------------------------------
------------- ( Header Fix )
-----------------------------------------*/

#myHeader[style="position: fixed;"] {
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: hdrfix;
    animation-name: hdrfix;
    background: #00051f;
}

@-webkit-keyframes hdrfix {
    from {
        transform: translateY(-40px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes hdrfix {
    from {
        transform: translateY(-40px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}


/*-----------------------------------------
------------- ( Slider )
-----------------------------------------*/

.slider {
    position: relative;
    padding-bottom: 330px;
}

.slider-icon {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 100px;
}

.slider .bg-slide {
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider p {
    color: #79d3fe;
    margin: 10px 0 30px;
}

.slider .s-btn {
    padding: 14px 30px;
    margin-left: 20px;
    border: 1px solid #1634f7;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.slider .s-btn:hover {
    border-color: #dc40f8;
    color: #dc40f8;
}


/*-----------------------------------------
------------- ( mission )
-----------------------------------------*/

.mission {
    transform: translate(0px, -70px);
}

.mission h2 {
    text-transform: uppercase;
}

.mission img {
    right: 0;
    position: absolute;
}

.mission h3 {
    padding-top: 50px;
}


/*-----------------------------------------
------------- (  )
-----------------------------------------*/

.metter .box {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.metter .abs,
.bom .abs,
.eternity .abs {
    position: absolute;
    top: 0;
    z-index: 0;
}

.bom,
.caps {
    padding: 130px 0;
}

.bom .z-index {
    padding-left: 20%;
}

.caps img {
    float: right;
    max-width: 400px;
}

.caps h5 {
    position: absolute;
    left: 12%;
}

.letter h5 {
    text-align: center;
    position: absolute;
    left: 20%;
    top: 13%;
}


/*-----------------------------------------
------------- ( thatas )
-----------------------------------------*/

.thatas h2 {
    margin-bottom: 60px;
}

.thatas {
    padding: 70px 0;
    background: url(../images/girlbg.png) center;
    background-size: cover;
    -webkit-animation: slide 30s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -200px;
    }
}

.thatas .box {
    padding: 20px 0;
}

.thatas p {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.thatas p span {
    color: #79d3fe;
}


/*-----------------------------------------
------------- ( operation )
-----------------------------------------*/

.operation {
    -webkit-animation: slide 30s linear infinite;
    background: url(../images/bg-team.png) #0b062d;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.operation .box,
.advisors .box {
    background: #150c54;
    margin: 15px 0;
    text-align: center;
    padding: 10px;
}

.operation .box .image {
    max-width: 200px;
    margin: 20px auto;
    padding: 12px;
}

.operation .box .image:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/round.png) center;
    background-size: cover;
}

.operation .box p:nth-child(2),
.advisors .box p {
    margin-bottom: 5px;
}

.operation .box .image img {
    filter: grayscale(1);
    opacity: .8;
}


/*-----------------------------------------
------------- (  )
-----------------------------------------*/

.advisors {
    overflow: visible;
    background: #0b062d;
    padding: 50px 0 0;
}

.advisors:after {
    left: 50%;
    top: -11px;
    height: 60px;
    width: 5px;
    content: '';
    background: url(../images/tw.png) center;
    position: absolute;
    background-size: cover;
}

.advisors .box {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 15px;
    display: inline-block;
}

.advisors .box .image {
    padding: 12px;
    max-width: 150px;
    margin: 20px auto;
}

.advisors .box .image:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/round-2.png) center;
    background-size: cover;
}

.advisors .box p {
    font-size: 12px;
    line-height: 18px;
}


/*-----------------------------------------
------------- ( solution )
-----------------------------------------*/

.solution {
    padding: 100px 0;
    background: url(../images/wave.png) #0b062d center no-repeat;
    background-size: cover;
}

.solution span {
    margin-bottom: 15px;
    color: #7f7c96;
}

.solution p.color {
    margin-bottom: 0;
}


/*-----------------------------------------
------------- ( intro )
-----------------------------------------*/

.intro {
    background: #0b062d;
}

.intro .abs {
    float: right;
    max-width: 190px;
}

.intro .potato {
    max-width: 190px;
}

.intro .small {
    max-width: 50px;
    margin: 30px 0 10px;
}


/*-----------------------------------------
------------- ( virtual )
-----------------------------------------*/

.virtual,
.natural,
.psychological,
.rd {
    background: #0b062d;
}

.natural {
    padding-bottom: 0;
}

.psychological,
.rd {
    padding-top: 0;
}

.rd img {
    margin: 15px 0;
}


/*-----------------------------------------
------------- ( Work )
-----------------------------------------*/

.hiw,
.howitwork {
    padding: 100px 0;
}

.hiw h2 {
    margin-bottom: 40px;
}

.hiw img {
    max-width: 500px;
}

.hiw .z-index {
    max-width: 220px;
}

.hiw .ovrfire {
    position: absolute;
    top: 50%;
}

.hiw .bg-box {
    background: url(../images/bbbbb.png) center no-repeat;
    background-size: contain;
    padding: 50px;
}

.hiw .bg-box p {
    max-width: 200px;
}

.hiw .bb-left {
    background: url(../images/bbbbb-left.png) center left no-repeat;
    background-size: contain;
}

.hiw .bg-box ul,
.privacy-p ul {
    display: inline-block;
}

.hiw .bg-box ul li,
.privacy-p ul li {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    position: relative;
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    padding: 5px 0 7px;
    padding-left: 15px;
    border-bottom: 1px solid #01105d;
}

.privacy-p ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    height: 5px;
    width: 5px;
    background-image: linear-gradient(to right, #0f33f7, #dc40f8);
    border-radius: 50%;
    opacity: .5;
}

.howitwork .text p{
    display: flex;
    position: relative;
    padding-left: 25px;
    align-items: center;
    line-height: 17px;
    font-size: 13px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.howitwork .text p img{
    left: 0;
    width: 15px;
    position: absolute;
}
/*-----------------------------------------
------------- (  )
-----------------------------------------*/


/*-----------------------------------------
------------- (  )
-----------------------------------------*/


/*-----------------------------------------
------------- ( Footer )
-----------------------------------------*/

footer {
    padding: 70px 0 50px;
    background: #000a39;
}

footer img {
    max-width: 100px;
}

footer ul {
    margin: 35px auto;
    display: flex;
    justify-content: center;
}

footer ul li {}

footer ul li a {
    padding: 0 15px;
    letter-spacing: 1px;
}

footer a:hover,
.copy a:hover {
    color: #dc40f8;
}


/*-----------------------------------------
------------- ( Copywrite )
-----------------------------------------*/

.copy {
    padding: 20px 0;
    background: #01072b;
}

.copy p {
    color: #66697f;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.copy p a {
    margin: 0;
    font-size: 12px;
    color: #1d82a6;
}

.copy .social {
    float: right;
}

.copy .social a {
    padding-left: 20px;
}


/*-----------------------------------------
------------- ( Responsive )
-----------------------------------------*/

@media(max-width:1200px) {}

@media(max-width:1199px) {
    .metter .box {
        max-width: 800px;
    }
    .caps img {
        max-width: 300px;
    }
}

@media(max-width:1024px) {
    .bom,
    .caps {
        padding: 150px 0;
    }
}

@media(max-width:992px) {
    .metter .box {
        max-width: 800px;
    }
}

@media(max-width:991px) {
    header .btn {
        margin-left: 0;
    }
    .bom {
        padding: 50px 0;
    }
    .caps {
        padding: 80px 0;
    }
    .caps img {
        transform: translate(92px, 30px) !important;
    }
    .letter img {
        transform: translate(59px, 71px) !important;
    }
    .bom img {
        max-width: 90%;
    }
    .bom img {
        max-width: 93%;
        float: right;
    }
    .metter .box {
        max-width: 600px;
    }
    button.navbar-toggler {
        background-image: linear-gradient(to right, #0f33f7, #dc40f8);
        border: navajowhite;
        padding: 10px 15px;
        color: #fff;
    }
    header .menu .nav-link {
        text-align: center;
    }
    header .menu ul li {
        border-bottom: 1px solid #101010;
    }
    .slider .s-btn {
        margin-left: 5px;
    }
    .hiw .bg-box {
        padding: 10px;
    }
    .hiw .bg-box ul li,
    .hiw .bg-box p {
        font-size: 12px;
        line-height: 18px;
    }
    .hiw .bg-box h3 {
        margin-bottom: 0;
        font-size: 20px;
    }
    .bg-box.bb-left {
        padding: 45px 10px;
    }
}

@media(max-width:768px) {
    .bom {
        padding: 70px 0;
    }
    .caps {
        padding: 110px 0;
    }
}

@media(max-width:767px) {
    h2 {
        font-size: 32px;
        line-height: 42px;
    }
    h3 {
        font-size: 22px;
        line-height: 32px;
    }
    h4,
    h5 {
        font-size: 16px;
        line-height: 26px;
    }
    p,
    a {
        font-size: 13px;
        line-height: 22px;
    }
    .bom,
    .caps {
        padding: 50px 0;
    }
    .letter {
        padding-top: 0;
    }
    .eternity h5 {
        margin-top: 50px;
    }
    .advisors .col-md-3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .thatas p {
        text-align: center !important;
    }
    .thatas .box {
        padding: 10px 0;
    }
    img.float-bob-big {
        max-width: 150px;
    }
    .intro .abs {
        max-width: 110px;
        position: absolute;
        left: 50%;
        top: -51px;
    }
    .intro {
        padding-top: 70px;
    }
    .rd img {
        max-width: 300px;
        margin-top: 50px;
    }
    .howitwork .text {
        padding: 10px 0;
    }
    .howitwork ul li:after {
        display: none;
    }
    .slider h2 {
        margin-top: 30px;
    }
    .thatas .row .col-md-4:nth-child(3) {
        orphans: 1;
    }
    .thatas .row .col-md-4:nth-child(2) {
        order: 2;
    }
    .thatas img {
        max-width: 300px
    }
    .color {
        font-weight: 800;
    }
    .metter .box img:nth-child(2) {
        display: none;
    }
    .line-scroll {
        background: none !important;
    }
    .eternity h5,
    .caps h5 {
        margin-bottom: 30px;
    }
    .big-line {
        display: none;
    }
    .slider {
        text-align: center;
    }
    .slider .row,
    .bom .row,
    .letter.rel.text-center .row,
    .natural .row {
        flex-direction: column-reverse;
    }
    .slider .col-md-6 img {
        max-width: 300px;
    }
    .slider-icon {
        top: 47%;
        left: auto;
        right: 30px;
        width: 50px;
    }
    .thatas h4,
    .thatas p,
    .thatas .box {
        text-align: center !important;
    }
    footer ul {
        flex-wrap: wrap;
    }
    footer ul li a {
        padding: 5px 15px;
        letter-spacing: 1px;
    }
    .solution {
        padding: 5px 124pn;
    }
    section {
        text-align: center;
    }
    .hiw .bg-box p {
        max-width: 200px;
        margin: 0 auto;
    }
    .bg-box.bb-left,
    .hiw .bg-box {
        padding: 0 15px;
        background: none;
    }
    .hiw .col-md-4.rel {
        padding: 50px 0 0;
    }
    .intro h3 {
        margin-bottom: 50px;
    }
    .virtual {
        padding-top: 0;
    }
    .howitwork .text p{
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .howitwork .text p img{
        position: relative;
        margin-right: 10px;
    }
}

@media(max-width:575px) {
    header .menu .navbar-brand img {
        height: 45px;
    }
    .caps h5 {
        position: relative;
        left: 0;
    }
    .caps img,
    .letter img {
        transform: translate(0) !important;
        float: inherit;
    }
    .letter h5 {
        position: relative;
        left: 0;
        top: 0;
    }
    .slider {
        padding-bottom: 55px;
    }
}

@media(max-width:400px) {}